html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a {
  text-decoration: inherit;
}
a:hover {
  text-decoration: underline;
}
a img {
  border: none;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@font-face {
  font-family: 'iconfont';
  src: url("../fonts/iconfont.eot");
  src: url("../fonts/iconfont.eot?#iefix") format('embedded-opentype'), url("../fonts/iconfont.woff") format('woff'), url("../fonts/iconfont.ttf") format('truetype'), url("../fonts/iconfont.svg#iconfont") format('svg');
}
html,
body {
  width: 100%;
  height: 100%;
  font-size: 16px;
}
html a,
body a,
html a:hover,
body a:hover {
  text-decoration: none;
  color: inherit;
}
body {
  overflow: hidden;
}
.wrapper {
  width: 100%;
  height: 500%;
}
.wrapper .fit-height {
  height: 20%;
  overflow-y: hidden;
}
.wrapper {
  position: relative;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  -khtml-transform: matrix(1, 0, 0, 1, 0, 0);
  -moz-transform: matrix(1, 0, 0, 1, 0, 0);
  -o-transform: matrix(1, 0, 0, 1, 0, 0);
  -ms-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
  touch-action: none;
  -webkit-transition: transform 700ms ease;
  -khtml-transition: transform 700ms ease;
  -moz-transition: transform 700ms ease;
  -o-transition: transform 700ms ease;
  -ms-transition: transform 700ms ease;
  transition: transform 700ms ease;
}
.first-section {
  position: relative;
  background-image: url("../images/bg-st1.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.first-section .nav {
  display: -webkit-box /* OLD - iOS 6-, Safari 3.1-6 */;
  display: -moz-box /* OLD - Firefox 19- (buggy but mostly works) */;
  display: -ms-flexbox /* TWEENER - IE 10 */;
  display: -webkit-flex /* NEW - Chrome */;
  display: flex /* NEW, Spec - Opera 12.1, Firefox 20+ */;
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding-top: 27px;
  -webkit-justify-content: space-between;
  -khtml-justify-content: space-between;
  -moz-justify-content: space-between;
  -o-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  align-items: center;
  font-size: 0;
}
.first-section .nav .logo {
  width: 73px;
  height: 36px;
  background: url("../images/logo.png") no-repeat;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  background-size: 100%;
}
.first-section .nav a {
  font-size: 18px;
  margin-left: 56px;
}
.first-section .app-description {
  display: -webkit-box /* OLD - iOS 6-, Safari 3.1-6 */;
  display: -moz-box /* OLD - Firefox 19- (buggy but mostly works) */;
  display: -ms-flexbox /* TWEENER - IE 10 */;
  display: -webkit-flex /* NEW - Chrome */;
  display: flex /* NEW, Spec - Opera 12.1, Firefox 20+ */;
  display: flex;
  align-items: center;
  -webkit-justify-content: center;
  -khtml-justify-content: center;
  -moz-justify-content: center;
  -o-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  width: 100%;
  height: calc(100% - 63px);
  padding: 0 8% 0 14%;
}
.first-section .app-description .slogan {
  height: 50%;
  background: url("../images/slogan.png") no-repeat;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  background-size: 100% auto;
}
.first-section .app-description .video {
  width: calc(70vw + 44px);
  height: calc(16 / 9 * 70vw + 128px);
  min-width: 225px;
  max-width: 347px;
  min-height: 255px;
  max-height: 664px;
  background-color: #fff;
  -webkit-border-radius: 45px;
  border-radius: 45px;
  padding: 64px 22px;
}
.first-section .app-description .video .video-wrap {
  position: relative;
  width: 100%;
  height: 100%;
}
.first-section .app-description .video .video-stream {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #dbdbdb;
}
.first-section .app-description .video .video-poster {
  z-index: 9;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/video-bg.png") no-repeat;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
  -webkit-transition: opacity 512ms;
  -khtml-transition: opacity 512ms;
  -moz-transition: opacity 512ms;
  -o-transition: opacity 512ms;
  -ms-transition: opacity 512ms;
  transition: opacity 512ms;
}
.first-section .app-description .video .video-controls {
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 512ms;
  -khtml-transition: opacity 512ms;
  -moz-transition: opacity 512ms;
  -o-transition: opacity 512ms;
  -ms-transition: opacity 512ms;
  transition: opacity 512ms;
}
.first-section .app-description .video .video-controls .video-control-handler {
  position: absolute;
  top: 226px;
  left: 108px;
  width: 85px;
  height: 85px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  color: #00bfff;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: all 512ms;
  -khtml-transition: all 512ms;
  -moz-transition: all 512ms;
  -o-transition: all 512ms;
  -ms-transition: all 512ms;
  transition: all 512ms;
}
.first-section .app-description .video .video-controls .video-control-handler :hover {
  color: #009acd;
}
.first-section .app-description .video .video-controls .video-control-handler .icon-play {
  width: 100%;
  height: 100%;
  background: url("../images/video-play.png") no-repeat;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
}
.first-section .app-description .video .video-controls .video-control-handler .icon-remove .iconfont {
  font-family: 'iconfont' !important;
  font-size: 60px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.first-section .app-description .video .video-controls .played {
  top: 25px;
  left: 75%;
}
.first-section .qrcode {
  position: absolute;
  bottom: 60px;
  left: 60px;
  width: 60px;
  height: 60px;
  background: url("../images/qr-code.png") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.first-section .qrcode:hover {
  background: url("../images/qr-code-hover.png") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.first-section .qrcode:hover .content {
  position: absolute;
  top: -343px;
  left: 0;
  width: 240px;
  height: 333px;
  border: 3px solid #000;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: url("../images/weixin.jpg") no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
}
.first-section .first-tip {
  position: absolute;
  left: 50%;
  bottom: 25px;
  width: 50px;
  height: 25px;
  background: url("../images/arrow-up.png") no-repeat;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  background-size: 100%;
  -webkit-animation: shakeArrow 3s infinite;
  -khtml-animation: shakeArrow 3s infinite;
  -moz-animation: shakeArrow 3s infinite;
  -o-animation: shakeArrow 3s infinite;
  -ms-animation: shakeArrow 3s infinite;
  animation: shakeArrow 3s infinite;
}
@media only screen and (max-width: 75rem) and (min-width: 62rem) {
  .download {
    display: -webkit-box /* OLD - iOS 6-, Safari 3.1-6 */;
    display: -moz-box /* OLD - Firefox 19- (buggy but mostly works) */;
    display: none;
  }
}
@media only screen and (max-width: 48rem) {
  .joinus {
    display: -webkit-box /* OLD - iOS 6-, Safari 3.1-6 */;
    display: -moz-box /* OLD - Firefox 19- (buggy but mostly works) */;
    display: none;
  }
  .first-section .app-description .slogan {
    display: -webkit-box /* OLD - iOS 6-, Safari 3.1-6 */;
    display: -moz-box /* OLD - Firefox 19- (buggy but mostly works) */;
    display: none;
  }
  .first-section .qrcode {
    display: -webkit-box /* OLD - iOS 6-, Safari 3.1-6 */;
    display: -moz-box /* OLD - Firefox 19- (buggy but mostly works) */;
    display: none;
  }
  .first-section .first-tip {
    display: -webkit-box /* OLD - iOS 6-, Safari 3.1-6 */;
    display: -moz-box /* OLD - Firefox 19- (buggy but mostly works) */;
    display: none;
  }
  .first-section .app-description .video .video-controls .video-control-handler {
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    -webkit-transform: translate(-50%, -50%);
    -khtml-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .first-section .app-description .video .video-controls .played {
    top: 40px;
    left: 85%;
  }
}
@media only screen and (max-width: 992px) {
  .first-section .nav {
    padding-top: 15px;
  }
  .first-section .nav a {
    font-size: 14px;
  }
  .first-section .nav .logo {
    width: 48px;
    height: 24px;
  }
  .first-section .app-description {
    height: calc(100% - 24px);
    padding: 0;
  }
}
@media only screen and (min-width: 62rem) {
  .first-section .app-description {
    -webkit-justify-content: space-between;
    -khtml-justify-content: space-between;
    -moz-justify-content: space-between;
    -o-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
  }
  .first-section .app-description .slogan {
    flex-basis: 50%;
  }
}
@media (max-height: 780px) {
  .first-section .app-description .video {
    margin-top: 15px;
    align-self: flex-start;
  }
}
.playing {
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  visibility: hidden;
}
.preplay .icon-remove .iconfont {
  display: -webkit-box /* OLD - iOS 6-, Safari 3.1-6 */;
  display: -moz-box /* OLD - Firefox 19- (buggy but mostly works) */;
  display: none;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  font-size: 60px;
  line-height: 60px;
}
.preplay .icon-play {
  display: -webkit-box /* OLD - iOS 6-, Safari 3.1-6 */;
  display: -moz-box /* OLD - Firefox 19- (buggy but mostly works) */;
  display: block;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.played .icon-play {
  display: -webkit-box /* OLD - iOS 6-, Safari 3.1-6 */;
  display: -moz-box /* OLD - Firefox 19- (buggy but mostly works) */;
  display: none;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.played .icon-remove .iconfont {
  display: -webkit-box /* OLD - iOS 6-, Safari 3.1-6 */;
  display: -moz-box /* OLD - Firefox 19- (buggy but mostly works) */;
  display: block;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  font-size: 60px;
  line-height: 60px;
}
.second-section {
  display: -webkit-box /* OLD - iOS 6-, Safari 3.1-6 */;
  display: -moz-box /* OLD - Firefox 19- (buggy but mostly works) */;
  display: -ms-flexbox /* TWEENER - IE 10 */;
  display: -webkit-flex /* NEW - Chrome */;
  display: flex /* NEW, Spec - Opera 12.1, Firefox 20+ */;
  display: flex;
  position: relative;
  align-items: center;
  -webkit-justify-content: center;
  -khtml-justify-content: center;
  -moz-justify-content: center;
  -o-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-box-direction: reverse;
  -moz-box-direction: reverse;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  background: url("../images/second-bg.png") no-repeat;
  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  background-size: auto 100%;
}
.second-section .section-desc {
  line-height: 1.5;
  text-align: left;
}
.second-section .section-desc .section-title {
  font-family: Yuanti SC;
  font-size: 40px;
  font-weight: 600;
  color: #404040;
  margin-bottom: 14px;
}
.second-section .section-desc .section-subtitle {
  font-size: 22px;
  color: #808080;
}
.second-section .mobile-view {
  width: 310px;
  height: 630px;
  position: relative;
  margin-right: 50px;
}
.second-section .mobile-view .mobile-topic-child-A {
  z-index: 9;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/topic-A.png") no-repeat;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  background-size: 100% auto;
  -webkit-animation: showTopic 6s infinite;
  -khtml-animation: showTopic 6s infinite;
  -moz-animation: showTopic 6s infinite;
  -o-animation: showTopic 6s infinite;
  -ms-animation: showTopic 6s infinite;
  animation: showTopic 6s infinite;
}
.second-section .mobile-view .mobile-topic-child-B {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/topic-B.png") no-repeat;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  background-size: 100% auto;
  -webkit-animation: showTopic 6s infinite;
  -khtml-animation: showTopic 6s infinite;
  -moz-animation: showTopic 6s infinite;
  -o-animation: showTopic 6s infinite;
  -ms-animation: showTopic 6s infinite;
  animation: showTopic 6s infinite;
  animation-delay: 3s;
}
@media only screen and (max-width: 992px) {
  .second-section {
    -webkit-flex-wrap: wrap;
    -khtml-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .second-section .mobile-view {
    width: 70vw;
    height: 142vw;
    margin: 0;
    margin-top: 20px;
  }
  .second-section .section-desc {
    width: 100%;
    margin-top: 5%;
    padding: 25px 20px 0;
    text-align: center;
  }
  .second-section .section-desc .section-title {
    font-size: 22px;
  }
  .second-section .section-desc .section-subtitle {
    font-size: 14px;
  }
}
.third-section {
  display: -webkit-box /* OLD - iOS 6-, Safari 3.1-6 */;
  display: -moz-box /* OLD - Firefox 19- (buggy but mostly works) */;
  display: -ms-flexbox /* TWEENER - IE 10 */;
  display: -webkit-flex /* NEW - Chrome */;
  display: flex /* NEW, Spec - Opera 12.1, Firefox 20+ */;
  display: flex;
  position: relative;
  align-items: center;
  -webkit-justify-content: center;
  -khtml-justify-content: center;
  -moz-justify-content: center;
  -o-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  background-color: #ffe411;
}
.third-section .section-desc {
  line-height: 1.5;
  text-align: left;
}
.third-section .section-desc .section-title {
  font-family: Yuanti SC;
  font-size: 40px;
  font-weight: 600;
  color: #404040;
  margin-bottom: 14px;
}
.third-section .section-desc .section-subtitle {
  font-size: 22px;
  color: #808080;
}
.third-section .mobile-notification {
  width: 56vh;
  height: 75vh;
  min-width: 390px;
  min-height: 600px;
  background: url("../images/mobile-notification.png") no-repeat;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  background-size: 100%;
  background-position: 50%;
  border-right: 22px solid #fff;
  border-left: 22px solid #fff;
}
.third-section .third-mobile {
  display: -webkit-box /* OLD - iOS 6-, Safari 3.1-6 */;
  display: -moz-box /* OLD - Firefox 19- (buggy but mostly works) */;
  display: none;
  width: 100%;
  height: 70vh;
  background: url("../images/third-mobile.png") no-repeat;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  background-size: 100% auto;
}
.third-section .third-section-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/third-mask.png") no-repeat;
  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  background-size: auto 100%;
}
@media only screen and (max-width: 992px) {
  .third-section {
    -webkit-flex-wrap: wrap;
    -khtml-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background-color: #fff;
  }
  .third-section .section-desc {
    width: 100%;
    margin-top: 5%;
    padding: 25px 20px 0;
    text-align: center;
  }
  .third-section .section-desc .section-title {
    font-size: 22px;
  }
  .third-section .section-desc .section-subtitle {
    font-size: 14px;
  }
  .third-section .mobile-notification {
    display: -webkit-box /* OLD - iOS 6-, Safari 3.1-6 */;
    display: -moz-box /* OLD - Firefox 19- (buggy but mostly works) */;
    display: none;
  }
  .third-section .third-mobile {
    display: -webkit-box /* OLD - iOS 6-, Safari 3.1-6 */;
    display: -moz-box /* OLD - Firefox 19- (buggy but mostly works) */;
    display: block;
  }
  .third-section .third-section-mask {
    display: -webkit-box /* OLD - iOS 6-, Safari 3.1-6 */;
    display: -moz-box /* OLD - Firefox 19- (buggy but mostly works) */;
    display: none;
  }
}
@media (max-width: 1155px) {
  .third-section .mobile-notification {
    margin-left: 50px;
  }
}
.forth-section {
  display: -webkit-box /* OLD - iOS 6-, Safari 3.1-6 */;
  display: -moz-box /* OLD - Firefox 19- (buggy but mostly works) */;
  display: -ms-flexbox /* TWEENER - IE 10 */;
  display: -webkit-flex /* NEW - Chrome */;
  display: flex /* NEW, Spec - Opera 12.1, Firefox 20+ */;
  display: flex;
  position: relative;
  align-items: center;
  -webkit-justify-content: center;
  -khtml-justify-content: center;
  -moz-justify-content: center;
  -o-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-box-direction: reverse;
  -moz-box-direction: reverse;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  background: url("../images/forth-bg.png") no-repeat;
  -webkit-background-size: 90%;
  -moz-background-size: 90%;
  background-size: 90%;
  background-position: 50%;
}
.forth-section .forth-mobile {
  width: 310px;
  height: 623px;
  background: url("../images/topic-post.png") no-repeat;
  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  background-size: auto 100%;
}
.forth-section .section-desc {
  line-height: 1.5;
  text-align: left;
}
.forth-section .section-desc .section-title {
  font-family: Yuanti SC;
  font-size: 40px;
  font-weight: 600;
  color: #404040;
  margin-bottom: 14px;
}
.forth-section .section-desc .section-subtitle {
  font-size: 22px;
  color: #808080;
}
@media (max-width: 1155px) {
  .forth-section .forth-mobile {
    margin-right: 50px;
  }
}
@media only screen and (max-width: 992px) {
  .forth-section {
    -webkit-flex-wrap: wrap;
    -khtml-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
  }
  .forth-section .section-desc {
    width: 100%;
    margin-top: 5%;
    padding: 25px 20px 0;
    text-align: center;
  }
  .forth-section .section-desc .section-title {
    font-size: 22px;
  }
  .forth-section .section-desc .section-subtitle {
    font-size: 14px;
  }
  .forth-section .forth-mobile {
    width: 70vw;
    height: 142vw;
    margin: 0;
  }
}
.fifth-section {
  display: -webkit-box /* OLD - iOS 6-, Safari 3.1-6 */;
  display: -moz-box /* OLD - Firefox 19- (buggy but mostly works) */;
  display: -ms-flexbox /* TWEENER - IE 10 */;
  display: -webkit-flex /* NEW - Chrome */;
  display: flex /* NEW, Spec - Opera 12.1, Firefox 20+ */;
  display: flex;
  align-items: center;
  -webkit-justify-content: center;
  -khtml-justify-content: center;
  -moz-justify-content: center;
  -o-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  background: url("../images/fifth-bg.png") no-repeat;
  background-position: 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.fifth-section .section-desc {
  width: 100%;
  text-align: center;
}
.fifth-section .section-desc .section-subtitle {
  font-family: Yuanti SC;
  font-size: 40px;
  font-weight: 600;
  color: #404040;
}
@-moz-keyframes shakeArrow {
  0%, to {
    -webkit-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    -khtml-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(0, -5px, 0);
    -webkit-transform: translate3d(0, -5px, 0);
    -khtml-transform: translate3d(0, -5px, 0);
    -moz-transform: translate3d(0, -5px, 0);
    -o-transform: translate3d(0, -5px, 0);
    -ms-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(0, 5px, 0);
    -webkit-transform: translate3d(0, 5px, 0);
    -khtml-transform: translate3d(0, 5px, 0);
    -moz-transform: translate3d(0, 5px, 0);
    -o-transform: translate3d(0, 5px, 0);
    -ms-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
}
@-webkit-keyframes shakeArrow {
  0%, to {
    -webkit-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    -khtml-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(0, -5px, 0);
    -webkit-transform: translate3d(0, -5px, 0);
    -khtml-transform: translate3d(0, -5px, 0);
    -moz-transform: translate3d(0, -5px, 0);
    -o-transform: translate3d(0, -5px, 0);
    -ms-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(0, 5px, 0);
    -webkit-transform: translate3d(0, 5px, 0);
    -khtml-transform: translate3d(0, 5px, 0);
    -moz-transform: translate3d(0, 5px, 0);
    -o-transform: translate3d(0, 5px, 0);
    -ms-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
}
@-o-keyframes shakeArrow {
  0%, to {
    -webkit-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    -khtml-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(0, -5px, 0);
    -webkit-transform: translate3d(0, -5px, 0);
    -khtml-transform: translate3d(0, -5px, 0);
    -moz-transform: translate3d(0, -5px, 0);
    -o-transform: translate3d(0, -5px, 0);
    -ms-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(0, 5px, 0);
    -webkit-transform: translate3d(0, 5px, 0);
    -khtml-transform: translate3d(0, 5px, 0);
    -moz-transform: translate3d(0, 5px, 0);
    -o-transform: translate3d(0, 5px, 0);
    -ms-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
}
@keyframes shakeArrow {
  0%, to {
    -webkit-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    -khtml-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(0, -5px, 0);
    -webkit-transform: translate3d(0, -5px, 0);
    -khtml-transform: translate3d(0, -5px, 0);
    -moz-transform: translate3d(0, -5px, 0);
    -o-transform: translate3d(0, -5px, 0);
    -ms-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(0, 5px, 0);
    -webkit-transform: translate3d(0, 5px, 0);
    -khtml-transform: translate3d(0, 5px, 0);
    -moz-transform: translate3d(0, 5px, 0);
    -o-transform: translate3d(0, 5px, 0);
    -ms-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
}
@-moz-keyframes showTopic {
  0% {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
  50% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  to {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
@-webkit-keyframes showTopic {
  0% {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
  50% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  to {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
@-o-keyframes showTopic {
  0% {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
  50% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  to {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
@keyframes showTopic {
  0% {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
  50% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  to {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
